*,*::after,*::before {
    margin: 0;
    padding: 0;
}

html {
    //this defines what 1rem is.
    
    font-size: 62.5%; // ! 1rem = 10px;  10px/16px = 62.5%
}


body {
    box-sizing: border-box;
    font-family: 'Spartan';
    background-image: url(../images/bg-pattern-top-desktop.svg) ,url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    height: 100vh;
}


:root {
    // primary colors

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    // neutral colors

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}
.attribution {
        font-size: 11px;
        text-align: center;
        display: none;
}
.attribution a {
        color: hsl(228, 45%, 44%);
}
 

