.container {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
}

.section-about {
    display: flex;
    justify-content: space-between;
    margin: 9rem 0;
    //align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    

    &__tittle {
        font-size: 4rem;
        font-weight: 900;
        font-family: 'Spartan' Helvetica;
        letter-spacing: 2px;
        color: var(--very-dark-magenta);
        margin-bottom: 1rem;

    } 

    &__info {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--dark-grayish-magenta);
    }
}

.rating {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    width: 50%;
    margin-right: 3rem;
    


    &__reviews {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 3rem;
        width: 35rem;
        background-color: var(--light-grayish-magenta);
        padding: 1rem 3rem;
        border-radius: 10px;
        margin-bottom: 1.5rem;
        align-self: flex-start;


    }

    &__report-guru {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 3rem;
        width: 35rem;
        background-color: var(--light-grayish-magenta);
        padding: 1rem 3rem;
        border-radius: 10px;
        margin-bottom: 1.5rem;
        align-self: center;
    }

    &__best-tech {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 3rem;
        width: 35rem;
        background-color: var(--light-grayish-magenta);
        padding: 1rem 3rem;
        border-radius: 10px;
        align-self: flex-end;
    }

    &__stars {
        margin-right: 1.4rem;

        &--item {
            height: 1.5rem;
            width: 1.5rem;
            padding: 0.2rem;
        }
    }

    &__site {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--very-dark-magenta);

    }
}

.section-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    height: 17rem;
}

.card {
    font-size: 1.1rem;
    font-weight: 700;
    background-color: var(--very-dark-magenta);
    padding: 3rem;
    margin: 0 2rem;
    border-radius: 10px;
    height: 80%;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;

        &--photo {
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
            margin-right: 2rem;
        }

        &--name {
            color: #ffffff;
            margin-bottom: 0.5rem;
        }

        &--job {
            color: var(--dark-grayish-magenta);
        }
    }

    &__bottom {
        &--message {
            color: var(--light-grayish-magenta);
            margin-bottom: 1rem;
        }
    }

    &--1 {
        align-self: flex-end;
    }

    &--2 {
        align-self: center;
    }

    &--3 {
        align-self: flex-start;
    }
}