

.container {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;

    @media only screen and (max-width: 37.5em) { // 600px
        width: 100%;
        margin: 5.5rem 0;
     };
}



.section-about {
    display: flex;
    justify-content: space-between;
    margin: 9rem 0;
    //align-items: center;

    @media only screen and (max-width: 56.25em) { // 900px
        flex-direction: column;
        margin: 2rem 0;
    };
}

.information {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;

    

    @media only screen and (max-width: 56.25em) { // 900px
        margin: 0 auto;
        width: auto;
     };

     
    

    &__tittle {
        font-size: 4rem;
        font-weight: 700;
        font-family: 'Spartan' Helvetica;
        letter-spacing: 2px;
        color: var(--very-dark-magenta);
        margin-bottom: 1rem;


        @media only screen and (max-width: 56.25em) { // 900px
            margin-bottom: 3rem;
         };

         @media only screen and (max-width: 37.5em) { // 600px
            font-size: 2.5rem;
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 1.5rem;
         };

    } 

    &__info {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--dark-grayish-magenta);
        @media only screen and (max-width: 56.25em) { // 900px
            margin-bottom: 3rem;
         };

         @media only screen and (max-width: 37.5em) { // 600px
            font-size: 1.1rem;
            letter-spacing: 0.2px;
            text-align: center;
            margin-bottom: 1.5rem;
         };
    }
}

.rating {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    margin-right: 3rem;
    
    @media only screen and (max-width: 56.25em) { // 900px
        width: auto;
     };

     @media only screen and (max-width: 37.5em) { // 600px
        margin: 0;
        padding: 0;
        width: auto;
        justify-content: center;
    }

    &__reviews {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 3rem;
        width: 35rem;
        background-color: var(--light-grayish-magenta);
        padding: 1rem 3rem;
        border-radius: 10px;
        margin-bottom: 1.5rem;
        align-self: flex-start;

        @media only screen and (max-width: 37.5em) { // 600px
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 5rem;
            align-self: center;
         };


    }

    &__report-guru {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 3rem;
        width: 35rem;
        background-color: var(--light-grayish-magenta);
        padding: 1rem 3rem;
        border-radius: 10px;
        margin-bottom: 1.5rem;
        align-self: center;
        @media only screen and (max-width: 37.5em) { // 600px
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 5rem;
            align-self: center;
         };
    }

    &__best-tech {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 3rem;
        width: 35rem;
        background-color: var(--light-grayish-magenta);
        padding: 1rem 3rem;
        border-radius: 10px;
        align-self: flex-end;
        @media only screen and (max-width: 37.5em) { // 600px
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 5rem;
            align-self: center;
         };
    }

    &__stars {
        margin-right: 1.4rem;

        &--item {
            height: 1.5rem;
            width: 1.5rem;
            padding: 0.2rem;
        }
        @media only screen and (max-width: 37.5em) { // 600px
            margin-bottom: 0.8rem;
         };
    }

    &__site {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--very-dark-magenta);

    }
}

.section-messages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
    height: 25rem;

    @media only screen and (max-width: 56.25em) { // 900px
        flex-direction: column;
        height: fit-content;
        margin: 2rem 0;
    };


}

.card {
    font-size: 1.1rem;
    background-color: var(--very-dark-magenta);
    padding: 2rem;
    margin: 0 2rem;
    border-radius: 10px;
    height: 70%;

    @media only screen and (max-width: 56.25em) { // 900px
        margin: 2rem;
    };

    @media only screen and (max-width: 37.5em) { // 600px
        width: 75%;
        margin: 1rem auto;
        height: 18rem;
     };

    &__inside {
       padding: 1rem 1rem;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;

        &--photo {
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
            margin-right: 2rem;
        }

        &--name {
            color: #ffffff;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        &--job {
            font-weight: 400;
            color: var(--soft-pink);
        }
    }

    &__bottom {
        &--message {
            color: #d3d3d3;
            font-weight: 500;
            line-height: 2;
        }
    }

    &--1 {
        align-self: flex-start;
    }

    &--2 {
        align-self: center;
    }

    &--3 {
        align-self: flex-end;
    }
}